.section-team {
  background-color: $secondary-background-color;
}

.team {
  display: flex;

  &__list {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    background-color: $main-background-color;
  }

  &__list:not(:last-child) {
    margin-right: 30px;
  }
}

.team__features {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 10px;
}

.team__social {
  width: 44px;
  height: 44px;
}

.team__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 0;
  fill: $secondary-border-color;
  transition: background-color $transition-main, fill $transition-main;

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: $main-background-color;
  }
}

.team__icon {
  width: 20px;
  height: 20px;
}
