.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0;

  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: $secondary-background-color;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}
